form{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 1rem;
}


h1{
    font-size: medium;
    margin: 0%;
    text-align: center;
    font-size: large;
}

button{
    padding: 0.5rem;
    font-size: large;
}

input{
    padding: 0.5rem;
}

h1,button{
    grid-column: 1 / 3;
}

input[type=checkbox]{
    justify-self: end;
}