:root{
    --nav-height:3rem;
}
*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    margin: 0%;
    background-color: black;
    color: white;
}
main{
    padding: 0rem 1rem 1rem;
}



nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    background-color: black;
    color: white;
    border-bottom: 1px solid lightgray;
    min-height: var(--nav-height);
    align-content: center;
}
nav>h1{
    color: inherit;
    min-height: var(--nav-height);
    font-size: x-large;
    padding: 0px 2rem;
    align-content: center;
    margin: 0px;
}
nav a:hover{
    background-color: unset;
    text-decoration: underline;
}
nav a{
    color: inherit;

}



input:hover{
    background-color: rgb(75, 75, 75);
}
input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid white;
}
button:hover{
    background-color: rgb(75, 75, 75);
}
button{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

a:hover{
    background-color: rgb(185, 185, 185);
}
a{
    color: black;
    text-decoration: none;
}

/* Remove up/down arrows from number inputs */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none; 
      margin: 0;
}

label{
    align-content: center;
}

input[type=checkbox]{
    /* justify-self: end; */
    width: 100%;
}



@media screen and (min-aspect-ratio: 1/1) {
    nav{
        grid-column: 1 / 3;
    }
}