<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Cards Against Humanity - Lobby</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <link href="./lobby.css" rel="stylesheet">
    <script>isOwner=false</script>
    <script src="./lobby.js" defer></script>
</head>
<body>
    <h1>Waiting for the game to start.</h1>
    <p>Join code: <span id="lobbyID"></span></p>
    <label for="players">Players:</label>
    <ol id="players" name="players"></ol>

    <!--
    <hr>
    <label for="currentPacks">Current Card Packs:</label>
    <ol id="currentPacks" name="currentPacks"></ol>
    
    <label for="officialPacks">Official Card Packs:</label>
    <ol id="officialPacks" name="officialPacks"></ol>
    
    <label id="userPacksLabel" for="userPacks">Your Card Packs:</label>
    <ol id="userPacks" name="userPacks"></ol>
    
    <label id="sharedPacksLabel" for="sharedPacks">Shared Card Packs:</label>
    <ol id="sharedPacks" name="sharedPacks"></ol>
    
    <label for="publicPacks">Community Card Packs:</label>
    <ol id="publicPacks" name="publicPacks"></ol>
    -->
</body>
</html>