<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Cards Against Humanity - Lobby</title>
    <link href="./favicon.ico" rel="icon" type="image/x-icon">
    <link href="./style.css" rel="stylesheet">
    <link href="./lobby.css" rel="stylesheet">
    <script>isOwner=false</script>
    <script src="./lobby.js" defer></script>
</head>
<body>
    <nav>
        <h1><a href="/">Cards Against Humanity Online (unofficial)</a></h1>
    </nav>
    <main>
        <h1>Waiting for the game to start.</h1>
        <p>Join code: <span id="lobbyID"></span></p>
        <label for="players">Players:</label>
        <ol id="players" name="players"></ol>
    </main>
</body>
</html>